{% extends "_base.html" %}

{% block title %}Users for {{ event.course.name }}{% endblock %}

{% block content %}
<div class="main tutor">
  <div class="panel">
    <div class="section">

      <h1>{{ event.course.code }}: {{ event.course.name }}</h1>

      <ul>
        {% for user in users %}
        <li>
          <a href="{{ user.user_id }}/">{{ user.user_id }} - {{ user.name }}</a>
        </li>
        {% empty %}
          <li>No users enrolled in this event.</li>
        {% endfor %}
      </ul>

    </div>
  </div>
</div>
{% endblock %}
